.new-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  color: #333;
  margin-top: 15px;
  align-self: flex-start;
  margin-right: 15px; /* Margen a la derecha del label */
}

input[type="text"],
textarea,
select,
.MuiInputBase-root {
  width: calc(100% - 15px); /* Separación del borde derecho */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  margin-right: 15px; /* Margen derecho adicional */
}

textarea {
  min-height: 80px;
  resize: vertical;
}

.MuiInputBase-root,
.MuiInputBase-root input {
  font-size: 14px;
  padding: 10px;
}

.MuiOutlinedInput-root {
  border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus,
.MuiOutlinedInput-root.Mui-focused {
  outline: none;
  border-color: #87CEEB;
  box-shadow: 0 0 5px rgba(135, 206, 235, 0.5);
}

.agregar-tarea-button {
  background-color: #87CEEB;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.agregar-tarea-button:hover {
  background-color: #00BFFF;
}

input[type="file"] {
  margin-top: 10px;
}


.color-selector {
  display: flex;gap: 60px;
  margin: 10px 0;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #000000;
  transition: border 0.3s ease;
}

.color-circle.selected {
  border: 3px solid #ff0000;
}


.crear-tarea {
  position: fixed;
  top: 95%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1000; 
}

.crear-tarea button {
  background-color: #87ceeb; 
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crear-tarea button:hover {
  background-color: #68b0d8; 
}


@media (max-width: 768px) {
  .new-task-container {
    padding: 15px;
    max-width: 90%; /* Reduce el ancho máximo */
    margin: 20px auto;
    box-shadow: none; /* Opcional: eliminar la sombra para un diseño más plano */
  }

  h1 {
    font-size: 20px; /* Ajusta el tamaño del título */
    margin-bottom: 15px;
  }

  label {
    font-size: 14px; /* Reduce el tamaño del texto */
    margin-right: 10px; /* Menor separación lateral */
  }

  input[type="text"],
  textarea,
  select,
  .MuiInputBase-root {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    font-size: 12px; /* Ajusta el tamaño de la fuente */
  }

  .agregar-tarea-button {
    padding: 10px 20px; /* Reduce el tamaño del botón */
    font-size: 14px;
  }

  .color-selector {
    gap: 30px; /* Reduce el espacio entre elementos */
    margin: 5px 0;
  }

  .color-circle {
    width: 25px; /* Disminuye el tamaño del círculo */
    height: 25px;
  }

  .crear-tarea {
    top: auto;
    bottom: 10%; /* Mueve el botón un poco más arriba */
    left: 50%;
    transform: translate(-50%, 0);
  }

  .crear-tarea button {
    padding: 8px 15px;
    font-size: 14px;
  }
}
