/* src/vistas/newtask.css */
.newtask-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    color: #333;
    margin-top: 15px;
    align-self: flex-start;
  }
  
  input, textarea, select {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #87CEEB;
  }
  
  textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  .agregar-tarea-button {
    background-color: #87CEEB; /* Azul cielo */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .agregar-tarea-button:hover {
    background-color: #00BFFF; /* Azul más intenso */
  }
  