/* src/vistas/notas.css */
.notas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .crear-tarea-button {
    background-color: #87CEEB; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .crear-tarea-button:hover {
    background-color: #00BFFF; 
  }
  
  .tareas-list {
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 10px;
    margin-bottom: 50px; 
  }
  
 
  
  .tarea h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #333;
  }
  
  .tarea p {
    margin: 0;
    color: #555;
  }
  

  .menu-inferior {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }
  
  .menu-inferior a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  
  .menu-inferior a:hover {
    color: #87CEEB; 
  }
  

 



  
  


  
  .tarea {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tarea-imagen img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .tarea-info {
    flex-grow: 1;
    margin-left: 15px;
  }
  
  .tarea-info h3 {
    margin: 0;
    font-size: 1.1em;
  }
  
  .tarea-info p {
    margin: 5px 0;
    color: #666;
  }
  
  .tarea-prioridad {
    color: #fff;
    background-color: #ff4500;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 0.9em;
    font-weight: bold;
    align-self: flex-end;
  }
  




  .tarea-roja {
    background-color: red;
    color: white;
  }
  



  

  .filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filtros select, .filtrar-button {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .filtros select:focus, .filtrar-button:focus {
    outline: none;
    border-color: #4caf50;
  }
  
  .filtrar-button {
    background-color: #4caf50;
    color: white;
  }
  
  .filtrar-button:hover {
    background-color: #45a049;
  }
  