* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  position: relative;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #333;
  z-index: 10;
}

.menu-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon .bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 5;
}

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

nav.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15%; /* Valor predeterminado para escritorio */
  background-color: #333333;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  nav.menu {
    width: 40%; /* Ajusta el ancho para pantallas más pequeñas */
  }
}

nav.menu.open {
  transform: translateX(0);
}

nav.menu ul {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav.menu ul li {
  margin: 20px 0;
}

nav.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  transition: color 0.3s;
}

nav.menu ul li a:hover {
  color: #62daff;
}

main {
  padding: 100px 20px 20px;
  text-align: center;
}






